.board-row {
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 34px;
  font-weight: bold;
  line-height: 34px;
  height: 44px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 44px;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.game-actions {
  display: flex;
  align-self: start;
}

.game-info {
  align-self: start;
}
